$white: #ffffff;
$gray: #e8eaea;
$green-default: #59cb59;
$green-dark: #2bb656;
$font-dark: #6e797a;

@mixin round-border($curve: 2px) {
  border-radius: $curve;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  height: 100%;
  font-size: 100%;
  box-sizing: border-box;
}

body {
  position: relative;
  height: 100%;
  color: $font-dark;
  font-family: 'Proxima Nova', 'proxima-nova', 'Montserrat', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 1rem;
  font-weight: normal;
  background-color: $gray;
}

.angle-bg {
  &:after {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60vh;
    background: linear-gradient(120deg, lighten($green-default, 20%), $green-dark);
    clip-path: polygon(0 0, 100vw 0, 100vw 20vw, 0 100%);
    z-index: -1;
  }
}

main {
  width: 480px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  z-index: 10;
}

.logo {
  display: block;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.fade-in {
  animation: fadein 1s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
