.btn {
  display: block;
  margin-top: 1.25rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  height: 3rem;
  text-align: center;
  text-decoration: none;
  color: $white;
  background-color: $green-default;
  border: none;
  @include round-border();
  &:hover {
    background-color: $green-dark;
    transition: background-color .5s ease-in;
    cursor: pointer;
  }
  &:focus {
    outline: 0;
  }
  &:--full {
    width: 100%;
  }
}