.form__group {
  display: block;
  margin-bottom: 1rem;
}

.form__label,
.form__control {
  display: block;
}

.form__control {
  display: inline-block;
  width: 100%;
  height: 2.25rem;
  margin-top: .25rem;
  padding: .5rem;
  @include round-border();
}

input[type=number] {
  height: 2.5rem;
  border: 1px solid $font-dark;
  &:hover,
  &:focus {
    outline: $green-default;
    border: 1px solid $green-default;
  }
  &:focus {
    box-shadow: 0 0 0 1px $green-default;
  }
}