.plan-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 650px;
  padding: 1rem 2rem;
  background-color: $white;
  box-shadow: 1px 1px 2px $gray;
  @include round-border();
}