h1,
h2,
h3 {
  font-weight: 600;
  line-height: 1.1;
}

h1,
h2,
h3,
p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h1 {
  font-size: 1rem * 1.5;
}

h2 {
  font-size: 1rem * 1.25;
}

h3 {
  font-size: 1rem * 1.1;
}

p {
  font-size: 1rem;
}

// Utility classes
.text--center {
  text-align: center;
}

.text--right {
  text-align: right;
}